<!DOCTYPE html>
<html>
<head>
  <title>My Website</title>
  <style>
    /* Navbar */
    .navbar {
      background-color: #000;
      color: #fff;
      padding: 10px;
      text-align: center;
    }
    .navbar a {
      color: #fff;
      text-decoration: none;
    }
    .navbar a:hover {
      color: #ddd;
    }

    /* Cards */
    .cards {
        display:flex;
      flex-wrap: nowrap;
    }
    .card {
      width: 100%;
      margin: 10px;
      border: 1px solid #ddd;
      padding: 10px;
      display:flex;
      flex-wrap: nowrap;
      flex-direction: column;
    }
    .card .title {
      font-size: 18px;
      font-weight: bold;
    }
    .card .subtitle {
      font-size: 16px;
    }
    .card .description {
      font-size: 12px;
      overflow:hidden;
    }
  </style>
</head>
<body>
  <nav class="navbar">
    <h1><div><u>CMS</u></div></h1>
    <a href="/creatBlog">Add Blogs</a>
    
  </nav>
  <div class="cards">           
    <% blogs.forEach((blog)=>{%> 
    <div class="card">
      <h2 class="title"><%-blog.title%></h2>
      <h3 class="subtitle"><%-blog.subTitle%></h3>
      <p class="description"><%-blog.description%></p>
      <a href="/single/<%-blog.id%>">See more</a>
    </div>
  
  </div>
   <% })%>
</body>
</html>